.products{
  display: flex;
  flex-wrap: wrap;
}
.product > mat-card{
  display: flex;
  flex-direction: column;
  min-height: 350px;
  width: 260px;
  margin: 10px;
  align-items: center;
}
.product > mat-card > img{
  object-fit: contain;
  height: 200px;
}
.product > mat-card > button{
  margin-top: 20px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88134 #9c7e31 #846a29;
}
