<div class="header"> 
    <nav class="header_top">
      <div class="header_menu">
        <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo" alt="">
        <div class="header_menu_location">
          <span class="header_location_top">Deliver to</span>
          <span class="header_location_bottom">Tanzania, United...</span>
        </div>
        <div class="header_menu_searchbar">
          <input type="text" name="" class="header_menu_input">
          <div class="header_menu_searchbar_icon">
            <mat-icon>search</mat-icon>
          </div>
        </div>
        <div class="header_menu_signin">
          <span class="header_signin_top">Hello, Sign in</span>
          <span class="header_signin_bottom">Account & Lists</span>
        </div>
        <div class="header_menu_order">
          <span class="header_order_top">Returns</span>
          <span class="header_order_bottom">& Oredrs</span>
        </div>
        <div class="header_menu_cart">
          <mat-icon>shopping_cart</mat-icon>
          <p class="header_cart_number">2</p>
        </div>
      </div>
    </nav>
    <nav class="header_bottom">
      <div class="bottom_menu">
        <div class="bottom_menu_icon">
          <mat-icon>menu</mat-icon>
        </div>
        <div class="bottom_menu_lists">
          <ul class="bottom_lists">
            <li class="lists">Today's Deals</li>
            <li class="lists">Customer Service</li>
            <li class="lists">Registry</li>
            <li class="lists">Gift Cards</li>
            <li class="lists">Sell</li>
          </ul>
        </div>
      </div>

    </nav>
  </div>

